body {
  padding-top: 10px;
  padding-bottom: 20px;
  transition: all 0.5s ease-in-out;
  transition: color 0.25s ease-in-out;
}
pre {
  font-size: 22px;
  letter-spacing: 3px;
}

canvas {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}
#clapperboard {
  cursor: pointer;
}
.jumbotron {
  padding-top: 5px;
  padding-bottom: 5px;
  transition: all 0.5s ease-in-out;
}
