body {
  padding-top: 20px;
  padding-bottom: 20px;
}
pre {
  font-size: 22px;
  letter-spacing: 3px;
}

canvas {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}
#clapperboard {
  cursor: pointer;
}
.jumbotron {
  padding-top: 5px;
  padding-bottom: 5px;
}
